[Unit]
Description=Pi4J Board Info Service
After=syslog.target network.target

[Service]
SuccessExitStatus=143
Type=forking
ExecStart=bash /home/ft/pi4j-board-info-service/start_pi4j_board_info_service.sh &
ExecStop=/bin/kill -15 $MAINPID
Restart=always
TimeoutSec=3600

[Install]
WantedBy=multi-user.target