[Unit]
Description=Raspberry Pi Info Service
After=syslog.target network.target

[Service]
SuccessExitStatus=143
Type=forking
ExecStart=bash /home/ubuntu/raspberry-pi-info-service/start_raspberry_pi_info_service.sh &
ExecStop=/bin/kill -15 $MAINPID
Restart=always
TimeoutSec=3600

[Install]
WantedBy=multi-user.target